{% extends "site_base.html" %}

{% load i18n %}
{% load friendly_loader %}
{% friendly_load avatar_tags %}

{% block title %} {% trans "WFPGeoNode Contacts" %} — {{ block.super }} {% endblock %}

{% block body_class %}people people-list explore{% endblock %}

{% block body_outer %}
  {% block body %}
  <div class="page-header">
    <h2>{% trans "WFPGeoNode Contacts" %}</h2>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p class="lead">{% trans "Contacts for WFPGeoNode." %}</p>
      <p>WFPGeoNode is the WFP's corporate web application for creating and sharing geospatial data and maps.
  It has been designed by the Emergency Preparedness and Response Unit (WFP OSEP) to empower non-GIS experts to easily produce maps with information already available in GeoNode or uploaded through a very simple process.
  If you want to learn more about the WFPGeoNode or experience any problem while using it please contact hq.gis@wfp.org and an expert will get back to you soon.</p>
    </div>
  </div>

  <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="tab-content col-sm-12" id="search-content">
            {% include "people/_profile_list_item.html" %}
          </div>
        </div>
      </div>
  </div>
  {% endblock body %}
  {% block sidebar %}{% endblock sidebar %}
{% endblock body_outer %}

{% block extra_script %}
<script type="text/javascript">
  SEARCH_URL = '{% url 'api_dispatch_list' api_name='api' resource_name='profiles' %}?group=omep-gis-team';
</script>
  {% with include_spatial='false' %}
  {% include 'search/search_scripts.html' %}
  {% endwith %}
{% endblock extra_script %}
