*.pyc
*.mo
.cache
wfp.egg-info
docs/_build
docs/_static
docs/_templates
celerybeat-schedule
celeryev.pid
dist
env
env24
supervisord.log
wfp/dev_settings.py
wfp_geonode.egg-info
www
wfp/uploaded
*.sh~
*.py~
*.tmpl~
*.cfg~
*.old
gn_migration.cfg
.DS_Store

wfp/static/lib/js/angular-leaflet-directive.min.js
wfp/static/lib/js/angular.js
wfp/static/lib/js/bootstrap.min.js
wfp/static/lib/js/canvas2image.js
wfp/static/lib/js/html2canvas.min.js
wfp/static/lib/js/jquery.dataTables.js
wfp/static/lib/js/jquery.min.js
wfp/static/lib/js/jquery.timeago.js
wfp/static/lib/js/json2.js
wfp/static/lib/js/select2.js
wfp/static/lib/js/waypoints.js
wfp/static/lib/js/jquery.ajaxQueue.js
wfp/static/node_modules/*
wfp/static/package.json
wfp/static/package-lock.json
wfp/static/bower_components
