{% extends "upload/layer_upload_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load bootstrap_toolkit %}
{% block title %} {% trans "Create Layer"  %} - {{ block.super }}  {% endblock %}

{% block body_class %}layers create{% endblock %}

{% block head %}

{{ block.super }}
{% endblock %}

{% block body_outer %}
<div class="page-header">
  <a href="{% url "layer_browse" %}" class="btn btn-primary pull-right">{% trans "Explore Layers" %}</a>
  <h2 class="page-title">{% trans "Create Layer" %}</h2>
</div>
<!-- added for create layer functionality -->
<!-- added for create layer functionality -->
<div class="row">
  <div class="col-md-8">
    <div class="panel panel-primary" style="border:0;">
      <div class="panel-heading">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" id="button-methods" type="button" data-toggle="dropdown" style="width: 100%;">{% trans "Pick Up Method To Create a Layer" %}
            <span class="caret"></span></button>
              <ul class="dropdown-menu dropdown-menu-methods" style="width: 95%;">
                <li><a href="#" id="excel_layer"><span class="glyphicon glyphicon-chevron-right"></span>{% trans "Create a layer by administrative levels" %}</a></li>
                <li><a href="#" id="empty_layer"><span class="glyphicon glyphicon-chevron-right"></span>{% trans "Create an empty layer" %}</a></li>
              </ul>
        </div>
      </div>
      <div class="panel-body">

        <div id="_panel_container"></div>
        </br>
        <div id="_panel_msg"></div>

        <div class="input-group" id="_layer" style="display:none;">
          <div class="input-group-btn" >
            <div class="btn-group btn-group-sm" style="width:100%">
              <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" id="button-countries" type="button" name="name1" data-toggle="dropdown" data-target="#" style="width:100%">Country
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-countries" id="country_list" name="name1" style="height: auto; max-height: 200px; overflow-x: hidden;">
                  {% if countries %}
                    {% for cntr in countries %}
                      <li><a href="#" id= {{ cntr }}>{{ cntr }}</a></li>
                    {% endfor %}
                  {% endif %}
                </ul>
              </div>
            </div>
          </div>
          </br>
          <a href="#" class="btn btn-primary pull-right" id="download_csv">{% trans "Download as CSV" %}</a>
        </div>

        <div id="_creat_fromcsv_layer_form" style="display:none">
          </br></br>
          <hr style="width: 100%; color: #757575; height: 1px;" />
          <h3>{% trans "Upload Layer" %}</h3>
          <form id="file-uploader" method="post" enctype="multipart/form-data" action="{% url "layer_create" %}">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
              {% if errormsgs %}
                {% for value in errormsgs %}
                  </p>  {{ value }} </p>
                {% endfor %}
              {% endif %}
              {% for error in form_csv_layer.non_field_errors %}
                {{ error }} </br>
              {% endfor %}
              </br>
              {% for field in form_csv_layer.visible_fields %}
                {{ field|as_bootstrap }} </br>
              {% endfor %}
              {% for field in form_empty_layer.hidden_fields %}
                  {{ field | as_bootstrap }}
              {% endfor %}
              <button type="submit" id="upload-button" class="btn btn-danger" name="fromlayerbtn">Upload</button>
          </form>
        </div>

        <div id="_empty_layer_form" style="display:none">
          <h3>{% trans "Create Empty Layer" %}</h3>
          <form id="empty-layer-uploader" method="post" enctype="multipart/form-data" action="{% url "layer_create" %}">
            <div id="form_empty_layer">
              <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                {{ form.errors }}
                {{ form.non_field_errors }}
                {% if errormsgs %}
                  {% for value in errormsgs %}
                    </p>  {{ value }} </p>
                  {% endfor %}
                {% endif %}
                {% for error in form_empty_layer.non_field_errors %}
                  {{ error }}
                {% endfor %}
                {% for field in form_empty_layer.visible_fields %}
                    {{ field | as_bootstrap }}
                {% endfor %}
                {% for field in form_empty_layer.hidden_fields %}
                    {{ field | as_bootstrap }}
                {% endfor %}
            </div>
            </br>
            <button type="button" id="_add_attribute" class="btn btn-primary"> Add Another Attribute</button> </br></br>
            <button type="submit" id="empty-layer-button" class="btn btn-danger" name="emptylayerbtn">Upload</button>
            </br></br>
            <input type="text" name="total_input_fields" style="display:none;"/>
          </form>
        </div>
      </div>
    </div>
    </br>
  </div>

  <div class="col-md-4" style="margin-top: -20px">
    {% if GEONODE_SECURITY_ENABLED %}
    <h3>{% trans "Permissions"  %}</h3>
    <form id="permission_form">
      {% include "_permissions.html" %}
    </form>
    {% endif %}
  </div>

</div>

{% endblock %}

{% block extra_script %}

<script type="text/javascript">
  $(document).ready(function() {

    // For Create_empty_layer functionality
    form_count = $('input[name*="extra_field_*"]').length;

    // get extra form count so we know what index to use for the next item.
    $(document.body).on("click", "#_add_attribute",function(e) {

      // build element and append it to our forms container


      new_attribute = $('</br><input type="text" placeholder="Enter a new attribute" style="width:320px"/>');
      new_attribute.attr('name', 'extra_field_' + form_count);

      attribute_type = $('<select class="form-control" style="width:320px"><option value="Character">Character</option><option value="Double">Double</option><option value="Integer">Integer</option></select>');
      attribute_type.attr('name', 'field_type_' + form_count);

      $("#form_empty_layer").append(new_attribute);
      $("#form_empty_layer").append(attribute_type);

      // increment form count so our view knows to populate
      // that many fields for validation
      form_count ++;

      $("[name=total_input_fields]").val(form_count);
    })


    // If a not successfull POST request is submitted
    {% if status_msg %}
      status_msg_val = {{ status_msg | safe }};
      if (status_msg_val == "400_csv"){
        selected_value = "excel_layer"
        text_input = "Create a layer using an existing one"
        assign_content(selected_value, text_input)
      }
      else if (status_msg_val == "400_empty_layer"){
        selected_value = "empty_layer"
        text_input = "Create an empty layer"
        assign_content(selected_value, text_input)
      }

    {% endif %}

    $(document.body).on("click", "#download_csv",function(e) {
      selected_country = ($("#button-countries").val())
      selected_btn = $(".selected").attr("id");
      id = "?country=" + selected_country + "&btn=" + selected_btn
      whole_url = "{% url 'download_csv' %}" + id
      $("#download_csv").attr("href", whole_url)

      $.ajax({
        type: "GET",
        url: whole_url,
        success: function(data) {
        },
        error: function(data) {
        },
      });
    });

    $(document.body).on("click", ".dropdown-menu-countries li a",function(e) {
      $("#button-countries:first-child").text($(this).text());
      $("#button-countries:first-child").val($(this).text());
    });


    $(".dropdown-menu-methods li a").click(function(){
      $("#button-methods:first-child").text($(this).text());
      $("#button-methods:first-child").val($(this).text());

      selected_val = $(this).attr("id");
      assign_content(selected_val)
    });

    $(document.body).on("submit", "#empty-layer-uploader, #file-uploader", function(e) {
       perm = permissionsString('#permission_form','layers');
       $('#id_permissions_json').val(JSON.stringify(perm));
    });

  });


  function assign_content(selected_val, text_input){

    $("#button-methods:first-child").text(text_input);
    $("#button-methods:first-child").val(text_input);

    element_id = ["_panel_container", "_panel_msg"];
    clear_content(element_id);
    if (selected_val == "excel_layer"){
      $("#_panel_container").append( '<i> {% trans "Choose an existing layer:" %} </i></br></br><button type="button" class="btn btn-primary _btn-select" id="country" data-toggle="tooltip" title="a country" style="width:33%">{% trans "Global Layer" %}</button><button type="button" class="btn btn-success _btn-select" id="region" data-toggle="tooltip" title="for regions" style="width:33%">{% trans "Country layer by region" %}</button><button type="button" class="btn btn-warning _btn-select" id="province" data-toggle="tooltip" title="for provinces" style="width:33%">{% trans "Country layer by province" %}</button>');
      //<button type="button" class="btn btn-danger _btn-select" id="settlement" data-toggle="tooltip" title="settlements" style="width:25%">{% trans "By location" %}</button>

      $("#_creat_fromcsv_layer_form").clone().appendTo('#_panel_msg');
      $("#_creat_fromcsv_layer_form").show();

      $( "._btn-select").click(function(){
        // add class "selected" to clicked button
        $("button.selected").removeClass("selected");
        $(this).addClass('selected');
        clicked_btn = $(this).attr("id");
        element_id = ["_panel_msg"];
        clear_content(element_id);
        if (clicked_btn == "country"){
          $("#download_csv").clone().appendTo('#_panel_msg');
          $("#download_csv").css("display", "block");
          $("#_creat_fromcsv_layer_form").clone().appendTo('#_panel_msg');
          $("#_creat_fromcsv_layer_form").show();
        } else if (clicked_btn == "region"){
          $("#_layer").clone().appendTo('#_panel_msg');
          $("#_layer").css("display", "block");
          $("#_creat_fromcsv_layer_form").clone().appendTo('#_panel_msg');
          $("#_creat_fromcsv_layer_form").show();
        } else if (clicked_btn == "province"){
          $("#_layer").clone().appendTo('#_panel_msg');
          $("#_layer").css("display", "block");
          $("#_creat_fromcsv_layer_form").clone().appendTo('#_panel_msg');
          $("#_creat_fromcsv_layer_form").show();
        } else if (clicked_btn == "settlement"){
          $("#_panel_msg").append('</br><i> Downloading excel file with settlements..</i></br>');
        }
      });
    } else if (selected_val == "empty_layer"){
      $("#_empty_layer_form").clone().appendTo('#_panel_msg');
      $("#_empty_layer_form").show();

      form_count = $(":input[name^='extra_field_']").length/2 // use of clone duplicates ids
      $("[name=total_input_fields]").val(form_count);
    }
  };


  function clear_content(element_id){
    for (i = 0; i < element_id.length; i++){
      if ( $("#" + element_id[i]).children().length > 0 ){
          $("#" + element_id[i]).empty();
      }
    }
  };
</script>



{% if GEONODE_SECURITY_ENABLED %}
{% with resource=layer %}
{% include "_permissions_form_js.html" %}
{% endwith %}
{% endif %}
{% endblock extra_script %}
